@font-face {
    font-family: 'StagSans-Bold';
    src: url('../fonts/StagSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StagSans-Bold.otf') format('opentype'),
    url('../fonts/StagSans-Bold.woff') format('woff'),
    url('../fonts/StagSans-Bold.ttf') format('truetype'),
    url('../fonts/StagSans-Bold.svg#StagSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StagSans-Book';
    src: url('../fonts/StagSans-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StagSans-Book.otf') format('opentype'),
    url('../fonts/StagSans-Book.woff') format('woff'),
    url('../fonts/StagSans-Book.ttf') format('truetype'),
    url('../fonts/StagSans-Book.svg#StagSans-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StagSans-Light';
    src: url('../fonts/StagSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StagSans-Light.otf') format('opentype'),
    url('../fonts/StagSans-Light.woff') format('woff'),
    url('../fonts/StagSans-Light.ttf') format('truetype'),
    url('../fonts/StagSans-Light.svg#StagSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StagSans-Medium';
    src: url('../fonts/StagSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StagSans-Medium.otf') format('opentype'),
    url('../fonts/StagSans-Medium.woff') format('woff'),
    url('../fonts/StagSans-Medium.ttf') format('truetype'),
    url('../fonts/StagSans-Medium.svg#StagSans-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StagSans-Semibold';
    src: url('../fonts/StagSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StagSans-Semibold.otf') format('opentype'),
    url('../fonts/StagSans-Semibold.woff') format('woff'),
    url('../fonts/StagSans-Semibold.ttf') format('truetype'),
    url('../fonts/StagSans-Semibold.svg#StagSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamCondensed-Bold';
    src: url('../fonts/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamCondensed-Bold.otf') format('opentype'),
    url('../fonts/GothamCondensed-Bold.woff') format('woff'),
    url('../fonts/GothamCondensed-Bold.ttf') format('truetype'),
    url('../fonts/GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primesport';
    src: url('../fonts/primesport.eot?#iefix') format('embedded-opentype'),
    url('../fonts/primesport.woff') format('woff'),
    url('../fonts/primesport.ttf') format('truetype'),
    url('../fonts/primesport.svg#primesport') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-htnw3v');
  src: url('../fonts/icomoon.eot?#iefix-htnw3v') format('embedded-opentype'), url('../fonts/icomoon.ttf?-htnw3v') format('truetype'), url('../fonts/icomoon.woff?-htnw3v') format('woff'), url('../fonts/icomoon.svg?-htnw3v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*COMMON STYLES*/
html {
    overflow-x: hidden;
}

body {
    font-family: 'StagSans-Book';
    overflow-x: hidden;
    color: #3f3f3f;
    position: relative;
}

section {
    position: relative;
}

a {
    display: inline-block;
    color: inherit;
}

a, a:visited, a:focus, a:active, .btn, .btn:visited, .btn:focus, .btn:active {
    text-decoration: none;
    color: inherit;
}

a:hover, .btn:hover {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.bold {
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    font-size: 12px;
}

h1 {}

h3 {
    /*color: #3f3f3f;*/
    /*font-size: 20px;*/
    /*margin: 40px 0;*/
    /*font-family: 'StagSans-Bold';*/
}

h4 {
    /*color: #2d2d2d;*/
    /*font-size: 14px;*/
    /*font-family: 'StagSans-Bold';*/
    /*text-transform: uppercase;*/
}

.gradient {
   filter: none;
}

.bg-grey {
    background: #f6f6f6;
}

:focus {
    outline: 0;
}

[class^="icomoon-"],
[class*=" icomoon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icomoon-arrow-left:before {
  content: "\e601";
}
.icomoon-note:before {
  content: "\e600";
}
.icomoon-arrow-down:before {
  content: "\e602";
}
.icomoon-paperless:before {
  content: "\e603";
}
body h6 {
    font-size: 13px;
}

.no-float {
    float: none !important;
}

.center {
    margin: 0 auto;
}

.row-3-1 {
    margin-left: -15px;
    margin-right: -5px;
}

.row-3-2 {
    margin-left: -10px;
    margin-right: -10px;
}

.row-3-3 {
    margin-left: -5px;
    margin-right: -15px;
}

.row-2-1 {
    margin-left: -15px;
    margin-right: -7.5px;
}

.row-2-2 {
    margin-left: -7.5px;
    margin-right: -15px;
}

.page.my-account-page {
    z-index: 2;
    margin-top: -21px;
}
/*END COMMON STYLES*/

/*BUTTONS*/
.btn {
    display: inline-block;
    padding: 13px 22px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'StagSans-Medium';
}

.btn-white, .btn-white:visited, .btn-white:focus, .btn-white:active {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-white:hover {
    background: #ffffff;
    color: #024b78;
}


.btn-blue, .btn-blue:visited, .btn-blue:focus {
    color: #024b78;
    border: 1px solid #024b78;
}

.btn-blue:hover, .btn-blue:active {
    background: #024b78;
    color: #ffffff;
}

.btn-darkblue, .btn-darkblue:visited, .btn-darkblue:focus, .btn-darkblue:active, .btn-darkblue:hover {
    color: #fff;
    border: 1px solid #024b78;
    background: #024b78;
}

/*END BUTTONS*/
.slider {
    position: relative;
}

.slider .carousel .item {
    position: relative;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider .carousel .item .rollover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.slider .carousel-controls {
    position: relative;
    margin-top: -60px;
    background: rgba(0, 0, 0, 0.5);
}

.slider .carousel-pagination {
    display: table;
}

.slider .carousel-pagination .owl-page {
    display: table-cell;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
    border-right: 1px solid #3e3c3b;
}

.slider .carousel-pagination .owl-page.active {
    background: #024b78;
}

.slider .carousel-pagination .owl-page:hover {
    cursor: pointer;
    background: #024b78;
}

.slider .carousel-pagination .pagination-title {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.slider .item-content {
    position: relative;
    z-index: 2;
    max-width: 1140px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 90px;
}

.slider .item-content .date {
    font-size: 14px;
    font-family: 'StagSans-Light';
}

.slider .item-content h2 {
    font-size: 58px;
    line-height: 56px;
    text-transform: uppercase;
    color: white;
    max-width: 500px;
    margin: 0;
    font-family: 'GothamCondensed-Bold';
}

.slider .item-content .location {
    font-size: 18px;
    font-family: 'StagSans-Light';
    margin-top: 12px;
}

.slider .item-content .btn {
    margin-top: 40px;
    padding: 20px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'StagSans-Bold';
}

.slider .item-content .btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #024b78;
}

.slider .item-content .slide-countdown {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: 'StagSans-Medium';
    font-size: 10px;
}

.slider .item-content .slide-countdown .cd-num {
    display: inline-block;
    position: relative;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 3px;
    width: 48px;
    border: 1px solid #c1bfbd;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px 5px;
    background: rgba(255, 255, 255, 0.15);
}

.slider .item-content .slide-countdown .cd-label {
    position: absolute;
    letter-spacing: normal;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 10px;
    font-weight: normal;
}

/*SLIDER FOR MOBILE*/
.slider.slider-mobile {
    color: #fff;
    display: none;
}
.slider.slider-mobile .item {
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
}

.slider-mobile .panel-name {
    color: #2d2d2d;
    font-size: 14px;
    font-family: 'StagSans-Bold';
    text-transform: uppercase;
}
.slider-mobile .panel-body {
    padding: 0;
    margin: -38px 0 0;
}

.slider-mobile .panel-group {
    margin:  0;
}

.slider-mobile .panel-group .panel+.panel {
    margin: 0;
    border-color: #f0f0f0;
    border-right: 0;
    border-left: 0;
}

.slider-mobile .panel-group .panel {
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.slider-mobile .panel-heading {
    padding: 3px 12px;
    position: relative;
    width: 100%;
    height: 37px;
    background: rgba(255, 255, 255, .8);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-mobile .panel-heading .icon {
    float: right;
}
.slider-mobile .icon-primesport-collapse:before, .slider-mobile .icon-primesport-expand:before {
    font-size: 12px;
    line-height: 30px;
}

.panel-heading.collapsed .icon-primesport-collapse {
    display: none;
}

.panel-heading.collapsed .icon-primesport-expand {
    display: block;
}

.panel-heading .icon-primesport-expand {
    display: none;
}

/*END SLIDER FOR MOBILE*/

/*SECTION CUSTOM PACKAGES*/
.custom-packages {
    padding: 0 0 40px;
    margin: 0;
    text-align: center;
    background: url("../img/home/custom_bg.png") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.custom-packages h3 {
    margin: 38px 0 14px;
}

.custom-packages p {
    max-width: 480px;
    margin: 0 auto 20px;
    line-height: 20px;
}

/*END SECTION CUSTOM PACKAGES*/

/*SECTION NEWSLETTER*/
.newsletter {
    padding: 0 0 31px;
    text-align: center;
}

.send-form {
    position: relative;
    display: inline-block;
    color: #fff;
}

.send-form ::-webkit-input-placeholder {
    color: #fff;
}

.send-form ::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
.send-form :-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
.send-form :-ms-input-placeholder {
    color: #fff;
}

.form-email {
    padding: 13px 13px;
    width: 290px;
    color: #fff;
    background: #b3b3b3;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 12px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-email:focus {
    outline: 0;
}
.form-error {
    border-color: #EC5560;
    color: #EC5560;
    background-color: rgba(100,100,100,0.1);
}
.btn.join {
    padding-right: 17px;
    padding-left: 17px;
    float: right;
    margin-left: 6px;
}

.newsletter h3 {
    margin: 37px 0 19px;
}

/*END SECTION NEWSLETTER*/


/*BOOTSTRAP 5 COLUMNS*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }

    .sm-no-row {
        margin-left: 0;
        margin-right: 0;
    }

    .sm-no-col {
        width: auto;
        padding: 0;
    }

    .sm-pull-right {
        float: right;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.upcoming-events .container-card {
    margin-bottom: 45px;
    background: #ffffff;
    margin-right: 15px;
    position: relative;
}
.index-page h3 {
    color: #3f3f3f;
    font-size: 20px;
    margin: 40px 0;
    font-family: 'StagSans-Bold';
}

.social-icons {
    padding: 12px 0 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.social-icon {
    position: relative;
    margin: 1px;
    font-size: 17px;
    padding: 8px 10px 5px 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.share-menu {
    display: none;
    width: 180px;
    position: relative;
    color: #024b78;
    background: rgba(255, 255, 255, 1);
    text-align: left;
    margin-top: 17px;
    border: 1px solid #ababab;
    margin-left: -7px;
}
.share-menu.active {
    display: block;
}
.share-menu .icon {
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
    margin: 0 5px;
}
.share-menu .icon-primesport-twitter:before {
    font-size: 20px;
}
.share-menu .icon-primesport-facebook:before {
    font-size: 17px;
    line-height: 40px;
}
.share-menu .icon-primesport-google:before {
    font-size: 17px;
    line-height: 42px;
}
.share-menu .icon-primesport-mail:before {
    font-size: 22px;
}
.share-menu:after, .share-menu:before {
    bottom: 100%;
    left: 12.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.share-menu:after {
    border-color: rgba(234, 62, 160, 0);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-width: 10px;
    margin-left: -10px;
}
.share-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ababab;
    border-width: 11px;
    margin-left: -11px;
}

.social-icon:hover {
    cursor: pointer;
    color: #024b78;
    background: rgba(255, 255, 255, 1);
}

.social-icon.like.active {
    background: rgba(255, 255, 255, 1);
    color: #d20000;
}

.social-icon.like .icon-primesport-favorite-active {
    display: none;
}

.social-icon.like.active .icon-primesport-favorite-active {
    display: block;
}

.social-icon.like.active .icon-primesport-favorite-inactive {
    display: none;
}
.icon-primesport-favorite-inactive:before {
    position: relative;
}
.upcoming-events .container-card img {
    width: 100%;
}

.upcoming-events .container-card .card-info {
    padding: 15px;
}

.upcoming-events .container-card .card-info .date {
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    font-family: 'StagSans-Medium';
    color: #7f7f7f;
}

.upcoming-events .container-card .card-info h5 {
    font-size: 17px;
    color: #3f3f3f;
    font-family: 'StagSans-Bold';
    line-height: 1.5;
}

.upcoming-events .container-card .card-info h5:hover {
    cursor: pointer;
    color: #024b78;
}

.upcoming-events .container-card .card-info .location {
    color: #7f7f7f;
    font-size: 12px;
    font-family: 'StagSans-Medium';
}

.upcoming-events .container-card .card-info .see-links {
    text-transform: uppercase;
    float: right;
    font-size: 12px;
    font-family: 'StagSans-Medium';
    color: #7f7f7f;
}

.upcoming-events .container-card .card-info .see-links:hover {
    cursor: pointer;
    color: #024b78;
}

.show-more {
    display: none;
    margin: 10px 0 0;
    width: 100%;
}

/* override slider navigation */
.owl-theme .owl-controls .owl-buttons {

}

.owl-theme .owl-controls .owl-buttons div {
    background: none;
    margin: 0;
    padding: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: 2px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -10px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -10px;
}

.owl-theme .owl-controls .owl-buttons span {
    display: block;
    width: 11px;
    height: 17px;
}

.owl-theme .owl-controls .owl-buttons span.next {
    background: url("../img/icon-next.png") no-repeat;
    margin-left: 15px;
}

.owl-theme .owl-controls .owl-buttons span.prev {
    background: url("../img/icon-prev.png") no-repeat;
    margin-right: 15px;
}

.container-cards .owl-controls {
    position: absolute;
    top: -77px;
    right: 25px;
}

.owl-theme .owl-controls .owl-page span {
    border-radius: 0;
    background: #3f3f3f;
}
@media(max-width: 991px) {
    .featured-events>.container {
    width: 100% !important;
}
}



.featured-events select {
    max-width: 245px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background: #b3b3b3;
    color: #ffffff;
}

.primesport-xp p {
    font-size: 12px;
    line-height: 22px;
    color: #3f3f3f;
}

.featured-events h3 {
    margin-top: 10px;
}

.featured-events .container-card {
    margin: 0 15px 40px 0;
}

.featured-events .container-card h6 {
    font-size: 14px;
    margin: 10px 0;
    padding: 0;
    font-family: 'StagSans-Bold';
}

.featured-events .container-card h6:hover {
    cursor: pointer;
    color: #024b78;
}

.featured-events .container-card p {
    margin: 0 0 5px 0;
}

.featured-events .container-card p.location {
    font-size: 11px;
    color: #959595;
}

.featured-events .container-card .img-container {
    text-align: center;
    background: #f6f6f6;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.featured-events .container-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.slider-experience {
    margin: 30px 0 110px 0;
}

.slider-experience li {
    height: 300px;
    width: 936px;
}
/*.video-wrapper {
    text-align: center;
    background: #000000;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

#video-gallery .owl-wrapper-outer {
    padding: 40px 0;
}

#video-gallery .slick-track {
    padding: 30px 0;
}

#video-gallery .slick-center {
    position: relative;
    overflow: hidden;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    z-index: 3000;
}

#video-gallery .title {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 15px 15px 65px;
    background: rgba(2, 75, 120, 0.9);
    color: #ffffff;
    font-size: 16px;
}

#video-gallery .slick-slide {
    position: relative;
}

#video-gallery .slick-slide img {
    display: block;
    width: 150%;
}

/*#video-gallery .slick-slide .video-wrapper {
    display: none;
}*/

#video-gallery .slick-current .title {
    display: block;
}

#video-gallery .slick-current img {
    /*display: none;*/
}

#video-gallery .slick-current .play-ico {
    display: block;
}

#video-gallery .owl-controls .owl-buttons div {
    opacity: 1;
}

#video-gallery .slick-list {
    padding: 0!important;
}

#video-gallery .icon-primesport-left-arrow, #video-gallery .icon-primesport-right-arrow {
    position: absolute;
    bottom: 18px;
    z-index: 10;
}

#video-gallery .icon-primesport-left-arrow {
    left: 32%;
}

#video-gallery .icon-primesport-right-arrow {
    right: 32%;
}

#video-gallery .icon-primesport-left-arrow:before, #video-gallery .icon-primesport-right-arrow:before {
    color: #ffffff;
    font-size: 24px;
    z-index: 2;
}
/*added*/
#video-gallery .icon-primesport-left-arrow {
    left: 10px;
    top: 13px;
}
#video-gallery .icon-primesport-right-arrow {
    right: 10px;
    top: 13px;
}
.play-ico {
    display: none;
    width: 74px;
    height: 74px;
    background-image: url(../img/play-ico.png);
    background-size: cover;
    top: 40%;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}
.vid-index {
    width: 940px;
    height: 474px;
}
/* custom select */

.dd-container .dd-selected {
    font-weight: normal;
}

.dd-container label.dd-selected-text {
    font-weight: normal;
    margin-bottom: 0;
    color: #ffffff;
}

.dd-container .dd-options {
    border: none;
    background: #f6f6f6;
    /*box-shadow: none;*/
}

.dd-container .dd-option {
    border: none;
}

.dd-container .dd-option:hover, .dd-container .dd-option-selected {
    background: #f0f0f0;
}

#events-select.dd-container .dd-pointer {
    width: 44px;
    height: 40px;
    right: 0;
    top: 3px;
}

#events-select.dd-container .dd-pointer:after{
    content: "";
    width: 12px;
    height: 8px;
    background: url("../img/arrow-down.png") no-repeat;
    display: block;
    margin-top: 17px;
    margin-left: 38%;
}

#events-select.dd-container .dd-pointer-down {
    border: none;
    background: #b3b3b3;
    border-left: 1px solid #a7a7a7;
}

#events-select.dd-container .dd-pointer-up {
    background: #024b78;
    border: none!important;
    border-left: 1px solid #a7a7a7!important;
    margin-top: -3px;
}

/* About Us Page */
.about-hero {
    min-height: 500px;
    background: url('../img/about-us/hero.jpg') 0 0 no-repeat;
    background-size: cover;
    color: white;
}
.hero-content {
    padding-top: 116px;
    text-align: center;
}
.hero-content h1 {
    font-size: 58px;
    line-height: 56px;
    text-transform: uppercase;
    color: white;
    font-family: 'GothamCondensed-Bold';
    max-width: 600px;
    letter-spacing: 2px;
    margin: 0 auto;
}
.hero-content p {
    max-width: 440px;
    font-family: 'StagSans-Book';
    margin: 0 auto;
    margin-top: 25px;
    font-size: 18px;
}
.hero-content p:last-child {
    max-width: 330px;
}
.about-partners {
    color: #3f3f3f;
}
.about-partners h3 {
    color: #3f3f3f;
    font-size: 20px;
    margin: 40px 0 22px;
    font-family: 'StagSans-Bold';
}
.about-partners p {
    font-family: 'StagSans-Book';
    line-height: 20px;
}
.partners-list {
    padding: 0;
    text-align: center;
    margin: 0 0 10px;
}
.partners-list .partners-list-item {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 25px 0;
    margin: 0;
}
.partners-list .partner-img-container {

}
.partners-list .partner-img-container img {
    width: 100%;
    height: auto;
}
.about-quote, .about-employee-quotes {
    background-color: #fff;
    text-align: center;
    padding: 40px 0 20px;
}
.about-quote h3, .about-employee-quotes h3 {
    font-size: 20px;
    font-family: 'StagSans-Light';
    line-height: 28px;
    max-width: 640px;
    color: #656565;
    margin: 0 auto 20px;
}
.about-quote h5, .about-employee-quotes h5 {
    font-family: 'StagSans-Bold';
    font-size: 12px;
}
.about-employee-quotes h5 {
    margin-bottom: 20px;
}
.about-tiles {
    padding: 45px 0 35px;
}
.about-tiles .tiles-list {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.about-company-info {
    padding: 0 0 20px;
}
.about-company-info h3 {
    color: #3f3f3f;
    font-size: 20px;
    font-family: 'StagSans-Bold';
    margin: 40px 0 15px;
}
.about-company-info p {
    line-height: 20px;
    padding: 15px 0;
}
.information-list {
    text-align: center;
    padding: 15px 0 0;
    margin: 0;
    font-size: 0;
}
.information-list .information-list-item {
    vertical-align: top;
    width: 33.33333%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.information-list-container {
    margin: 60px 0 0;
}
.information-list-container h4 {
    color: #2d2d2d;
    font-family: 'StagSans-Medium';
    text-transform: none;
    font-size: 16px;
    margin: 15px auto;
}
.information-list-container .mobile-only {
    display: none;
}
.information-list-container .icon {
    font-size: 52px;
    color: #024b78;
}
.information-list-container p {
    max-width: 240px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    line-height: 20px;
}
.information-list-container .btn {
    margin: 30px 0;
    padding: 13px 13px;
}

/* Experience page */

.experience-section {
    position: relative;
    min-height: 640px;
    background-color: #000;
    background-size: cover;
    background-position: center center;
}

.experience-section-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* do not put z-index here. it’ll break gallery left/right buttons */
}

.experience-section-copy {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    position: relative;
    z-index: 1;
    min-height: 640px; /* Allow large text vertically expand container */
    padding-top: 75px;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
}
.experience-section-copy h1 {
    font-size: 58px;
    line-height: 56px;
    text-transform: uppercase;
    color: white;
    font-family: 'GothamCondensed-Bold';
}
.experience-section .experience-section-copy h2 {
    font-size: 58px;
    line-height: 56px;
    text-transform: uppercase;
    color: white;
    font-family: 'GothamCondensed-Bold';
}

.experience-section-copy > .container {
    max-width: 840px;
}

.experience-section-copy p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}


.experience-hero-section .experience-section-copy {
    padding-top: 20px;
    padding-bottom: 20px;
}

.experience-hero-text {
    padding-top: 180px; /* space taken by buttons */
}

.experience-hero-controls {
    margin-top: 126px;
}

.experience-hero-controls .btn {
    width: 175px;
    padding: 20px 0;
    font-family: 'StagSans-Bold';
}

.experience-hero-controls .btn-white {
    background-color: rgba(255, 255, 255, 0.2);
}

.experience-hero-controls .btn-white:hover {
    background-color: #fff;
}

.experience-hero-controls .btn + .btn {
    margin-left: 30px;
}

.experience-hero-gallery .container,
.experience-hero-slider,
.experience-hero-slide,
.experience-hero-gallery .slick-list,
.experience-hero-gallery .slick-track {
    height: 100%;
}

.experience-hero-gallery .container {
    /* space for next/prev arrows */
    padding: 0 35px;
}

.experience-hero-gallery .slick-list {
    overflow: visible;
    margin: 0 -100%;
}

.experience-hero-slide {
    position: relative;
    overflow: hidden;
}

.experience-hero-slide:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.experience-hero-slide.slick-center:after {
    display: none;
}

.experience-hero-slider .slick-arrow {
    display: block;
    position: absolute;
    /* place arrows above copy layer */
    z-index: 2;
    top: 50%;
    margin-top: -20px;
    font-size: 32px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: white;
}

.experience-hero-slider .icon-primesport-left-arrow {
    left: -35px;
    text-align: right;
}

.experience-hero-slider .icon-primesport-right-arrow {
    right: -35px;
    text-align: left;
}

.experience-hero-slide > img {
    position: absolute;
    display: block;
    left: -9999px;
    right: -9999px;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

.experience-hero-section[data-mode="bg-video"] .experience-hero-gallery {
    display: none;
}

.experience-hero-section[data-mode="gallery"] .experience-hero-text {
    visibility: hidden;
}

.experience-hero-section[data-mode="video-play"] .experience-section-copy {
    /* copy defines section height, do not hide it with `display: none` */
    visibility: hidden;
}
.experience-hero-section[data-mode="video-play"] .experience-hero-gallery {
    display: none;
}

.experience-hero-section[data-mode="video-end"] .experience-hero-text {
    visibility: hidden;
}
.experience-hero-section[data-mode="video-end"] .experience-hero-gallery {
    display: none;
}

.experience-section-bg-video {
    display: block;
    width: 100%;
    height: 100%;
}

.experience-section-bg-video > video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.experience-slider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
.experience-gallery-slider img {
    height: 640px;
}
.experience-gallery-video {
    position: relative;
    /*padding-bottom: 33.25%;*/
    padding-bottom: 640px;
    height: 0;
    overflow: hidden;
}
.experience-gallery-video h1 {
    letter-spacing: 2px;
}
.experience-gallery-video video {
}

.experience-gallery .cover-container {
    position: absolute;
    left: 50%;
    top: 0;
    text-align: center;
    margin-left: -400px;
    margin-top: 200px;
    width: 800px;
    z-index: 40;
}
.experience-gallery .cover-container .inner {
    opacity: 0;
}
.experience-gallery .cover-container p {
    margin-top: 30px;
    font-size: 18px;
    color: white;
    line-height: 30px;
}
.experience-gallery .buttons-block {
    margin-top: 110px;
}
.experience-gallery .buttons-block .btn {
    width: 175px;
    padding: 20px 0;
    margin: 0 30px;
}
.experience-gallery[data-mode="gallery"] .experience-slider-wrapper {
    opacity: 1;
    z-index: 20;
}

.experience-gallery[data-mode="loop-video"] .cover-container .inner,
.experience-gallery[data-mode="pause"] .cover-container .inner {
    opacity: 1;
}

.business-section {
    padding: 10px 0 20px 0;
}
.business-section .tiles-list {
    text-align: center;
    padding: 0;
    margin: 0;
}

.business-section h3, .social-feed h3 {
    color: #3f3f3f;
    font-size: 20px;
    font-family: 'StagSans-Bold';
    margin: 40px 0 20px;
}

.business-section p {
    margin-bottom: 25px;
}
.social-feed {
    padding: 0 0 40px 0;
}

.social-feed p {
    margin-bottom: 25px;
}

.social-elements {
    font-size: 0;
}

.social-elements * {
    font-size: 14px;
}

.social-item.column {
    display: inline-block;
    vertical-align: top;
}

.social-item.column-38 {
    width: 38%;
}

.social-item.column-48 {
    width: 48%;
}

.social-item.column-58 {
    width: 58%;
}

.social-item {
    border-radius: 15px;
    margin-right: 2%;
    margin-bottom: 10px;
    position: relative;
}

.social-item img.preview {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.social-item .content {
    padding: 20px;
}

.social-item .prime-logo {
    float: left;
}

.social-item .prime-logo img {
    border-radius: 2px;
}

.social-item .prime-logo .prime-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.social-item .prime-logo .prime-details h6 {
    margin: 0;
    color: #024b78;
    font-family: 'StagSans-Bold';
}

.social-item .prime-logo .prime-details p {
    margin: 10px 0 0 0;
    color: #b3b3b3;
    font-size: 10px;
}

.social-item .options {
    float: right;
}

.social-item .options .sharing li {
    display: inline-block;
    margin-left: 10px;
}

.social-item .options .sharing li .icon {
    font-size: 14px;
    color: #024b78;
}

.social-item .options .date {
    color: #b3b3b3;
    font-size: 10px;
    text-align: right;
    margin: 10px 0 0 0;
}

.social-item .icon-primesport-twitter:before, .social-item .icon-primesport-facebook:before, .social-item .icon-primesport-instagram:before {
    font-size: 16px;
    line-height: 1;
}

.social-item .icon-primesport-youtube {
    font-size: 0;
}

.social-item .social-icon.youtube {
    padding: 3px 10px 0px 10px;
}

.social-item .icon-primesport-youtube:before {
    font-size: 40px;
    line-height: 0.6
}

.social-item p.description {
    margin: 10px 0 0 0;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
}

.social-item p.description a {
    color: #024b78;
    text-decoration: underline;
}


.quote-gallery-section {
    background: url("../img/experience/quote-bg.png") no-repeat;
    background-size: cover;
    min-height: 635px;
}

.quote-gallery-section .gallery-wrapper {
    width: 100%;
    max-width: 745px;
    margin: 0 auto;
    padding-top: 145px;
    text-align: center;
    color: #fff;
}

.quote-gallery-section .person {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 50%;
}

.quote-gallery-section p {
    max-width: 320px;
    text-align: center;
    font-size: 20px;
    margin: 50px auto 0 auto;
    font-family: 'StagSans-Light';
}


.quote-gallery-section p.author {
    text-align: center;
    font-size: 12px;
    margin: 30px auto 0 auto;
    font-family: 'StagSans-Bold';
}

.slick-slide.slick-current.slick-active:focus {
    outline: 0;
}

.quote-gallery-section .slick-prev, .quote-gallery-section .slick-next {
    width: 25px;
    height: 25px;
    top: 20%;
}

.quote-gallery-section .slick-prev:before, .quote-gallery-section .slick-next:before {
    font-family: 'primesport';
    font-size: 25px;
    opacity: 1;
}

.quote-gallery-section .slick-prev:before {
    content: "y";
}

.quote-gallery-section .slick-next:before {
    content: "G";
}

.page-header {
    margin-top: 0;
    padding-bottom: 0px;
}

.page-header,
.page {
    position: relative;
    z-index: 1
}

.btn-container {
    text-align: right;
}

.second-btn {
    margin-left: 10px;
}

.my-account {
    margin-bottom: 32px;
}
