.dropdown-filter .dd-container,
.dropdown-filter .dd-select {
    width: auto!important;
}
 
.dropdown-filter .dd-options {
	width: 100%!important;
	border-radius: 0 0 4px 4px;
	box-shadow: 2px 3px 9px rgba(0,0,0,0.2);
}

.dropdown-filter .dd-select {
	border: none;
	border-radius: 4px;
}

.dropdown-filter .dd-selected-up {
	background: #b3b3b3;
	border-radius: 4px 4px 0 0;
}
  
.dropdown-filter .dd-selected-text {
	font-family: 'StagSans-Book';
	font-size: 12px;
	letter-spacing: 0.5px;
}

.dropdown-filter .dd-pointer-down {
	border: none;
	border-left: 1px solid #024b78;
	background: #043b5c;
	border-radius: 0 4px 4px 0;
}

.dropdown-filter .dd-pointer {
	width: 44px;
	height: 40px;
	right: 0;
	top: 3px;
}

.dropdown-filter .dd-pointer:after {
	display: block;
	content: "";
	margin-top: 41%;
	margin-left: 38%;
	width: 12px;
	height: 8px;
	background: url("../../img/arrow-down.png") no-repeat;
}

.dropdown-filter .dd-pointer-up {
	margin-top: -3px;
	background:#106498;
	border: 0!important; 
	border-left: 1px solid #024b78 !important;
}

.dropdown-filter .dd-option {
	font-family: 'StagSans-Book';
	font-size: 12px;
}