.tooltip-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tooltip-wrapper.bottom .tooltip {
      bottom: inherit;
      top: 25px;
}

.tooltip-wrapper.bottom .tooltip:before {
	border-top: 0;
	border-bottom: 9px solid #ababab;
	bottom: inherit;
	top: -9px;
}

.tooltip-wrapper.bottom .tooltip:after {
	border-top: 0;
	border-bottom: 8px solid #ffffff;
	bottom: inherit;
	top: -8px;
}

.tooltip {
	display: none;
	background: #fff;
	padding: 14px;
	border: 1px solid #ababab;
	color: #2d2d2d;
	font-family: 'StagSans-Medium';
	font-size: 12px;
	box-sizing: border-box;
	width: 191px;
	opacity: 1;
	letter-spacing: 0.4px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
	left: -89px;
	bottom: 25px;
	position: relative;
}
      
.tooltip:before {
	content: '';
	position: absolute;
	display: block;
	border-top: 9px solid #ababab;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	left: 50%;
	margin-left: -13px;
	bottom: -9px;
}
    
.tooltip:after {
	content: '';
	position: absolute;
	display: block;
	border-top: 8px solid #ffffff;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	left: 50%;
	margin-left: -11px;
	bottom: -8px;
}