/* HELPER */
.debug * {
    outline: 1px solid red;
}
.vertical-align {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex; /* Safari */
   
    -webkit-align-items: center; /* Safari 7.0+ */
    
    text-align: center;
}

.text-pull-right{
    text-align: right !important;   
}

.text-pull-left{
    text-align: left !important;   
}

.text-pull-center {
    text-align: center !important;
}