.information-btn-container {
	margin-top: 5px;
}

.information-btn-container .cancel {
	padding: 13px 42px;
}

.information-edit,
.password-edit {
	display: none;
}

@media (max-width: 767px) {
	.information-btn-container .cancel,
	.information-btn-container .second-btn {
		display: block;
		margin: 0;
	}
}