/* Popups */

.popup {
    width: 100%;
    max-width: 620px;
    background: #ffffff;
}

.popup .popup-close {
    display: inline-block;
    float: right;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: 5px;
    line-height: 15px;
}

.popup header {
    width: 100%;
    height: 36px;
    padding: 7px 10px;
}

.popup header.black {
    background-color:#2d2d2d;
}

.popup header .icon-primesport-close {
    text-align: center;
    line-height: 16px;
}

.popup header .icon-primesport-close:before {
    color: #ffffff;
    vertical-align: top;
    font-size: 6px;
    line-height: 16px;
}

.popup .content {
    padding: 15px 15px 0 15px;
}

.popup .form-field {
    background: inherit;
}
.popup .field {
    line-height: 39px;
    height: 40px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 13px;
    font-family: 'StagSans-Book';
    background-color: #f6f6f6;
    width: 100%;
}

.popup .field.invalid {
    border-color: #d20000;
}

.popup .field.invalid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d20000;
}
.popup .field.invalid:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d20000;
   opacity:  1;
}
.popup .field.invalid::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d20000;
   opacity:  1;
}
.popup .field.invalid:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d20000;
}

.popup .form-row {
    margin-bottom: 14px;
}

.popup-bg {
    background: #bfbfbf;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    cursor: pointer;
}

.confirmation-popup {
    max-width: 380px;
    text-align: center;
    padding: 10px 25px 25px 25px;
    border-radius: 5px;
    width: 92%;
}
.confirmation-popup p {
    font-family:'StagSans-Bold';
    font-size: 22px;
    line-height: 1.1em;
}
.confirmation-popup .btn-container {
    margin-top: 20px;
    text-align: center;
}

.confirmation-popup .btn-container .popup-close {
    float: none;
    border: 1px solid #024b78;
    border-radius: 5px;
    width: auto;
    height: auto;
    max-width: 70px;
    padding: 13px 12px;
}

.confirmation-popup .btn-container .btn {
    margin-top: 0px;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
}

.confirmation-popup .btn-container .second-btn {
    padding: 0 22px;
}

.share-popup h2 {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-family: 'StagSans-Medium';
    margin-left: 15px;
    line-height: 1;
    vertical-align: middle;
    text-transform: uppercase;
}

.share-popup .left-column {
    float: left;
    width: 12%;
}

.share-popup .right-column {
    float: right;
    width: 88%;
}

.share-popup .icon-primesport-mail, .share-popup .icon-primesport-twitter, .share-popup .icon-primesport-google, .share-popup .icon-primesport-facebook {
    display: inline-block;
    vertical-align: middle;
}

.share-popup .icon-primesport-mail:before, .share-popup .icon-primesport-twitter:before, .share-popup .icon-primesport-google:before, .share-popup .icon-primesport-facebook:before {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
}

.share-popup input, .share-popup textarea {
    display: block;
    width: 100%;
    border: 1px solid #ababab;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #2d2d2d;
}

.share-popup input:focus, .share-popup textarea:focus {
    outline: 0;
}

.share-popup textarea {
    resize: none;
}

.share-popup ::-webkit-input-placeholder {
    color: #2d2d2d;
}

.share-popup ::-moz-placeholder {
    color: #2d2d2d;
}

.share-popup :-moz-placeholder {
    color: #2d2d2d;
}

.share-popup :-ms-input-placeholder {
    color: #2d2d2d;
}

.share-popup .share-section {
    margin: 20px 0;
    padding: 10px;
    border: 2px dashed #b3b3b3;
    display: table;
    width: 100%;
}

.share-popup .share-section .left-column {
    width: 20%;
    display: table-cell;
    vertical-align: top;
    float: none;
}

.share-popup .share-section .right-column {
    width: 80%;
    display: table-cell;
    vertical-align: top;
    float: none;
}

.share-popup .share-section .left-column img {
    width: 100%;
}

.share-popup .share-section .info {
    background: #f6f6f6;
    border: 1px solid #dcdcdc;
    padding: 10px;
}

.share-popup .primesport-label span {
    vertical-align: middle;
    color: #7f7f7f;
    margin-left: 5px;
}

.share-popup .share-section .info p {
    margin: 9px 0 0 0;
}

.share-popup footer {
    background: #f6f6f6;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    padding: 10px 15px;
    text-align: right;
}

.share-popup .share-btn,
.share-popup .share-btn-cancel {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'StagSans-Medium';
    color: #ffffff;
    letter-spacing: 1px;
}

.share-popup .share-btn-cancel {
    border: 1px solid #3f3f3f;
    padding: 4px;
    color: #3f3f3f;
}

#email-share-popup header {
    background: #2d2d2d;
}

#email-share-popup .share-btn {
    background: #024b78;
}

#twitter-share-popup header {
    background: #00abdc;
}

#twitter-share-popup .share-btn {
    background: #00abdc;
}

#google-plus-share-popup header {
    background: #e43d3f;
}

#google-plus-share-popup .share-btn {
    background: #50ab38;
}

#facebook-share-popup header {
    background: #024b78;
}

#facebook-share-popup .share-btn {
    background: #024b78;
}

#facebook-share-popup .icon-primesport-facebook {
    position: relative;
    width: 19px;
    height: 19px;
    border-radius: 2px;
    background: #ffffff;
}

#facebook-share-popup .icon-primesport-facebook:before {
    position: absolute;
    right: 0;
    bottom: -1px;
    font-size: 16px;
    color: #024b78;
    line-height: 1;
}

#facebook-share-popup .facebook-company-label {
    margin-top: 10px;
}

#video-modal-popup {
    max-width: 940px;
}

/* Account popup styles */

.account-popup {
    width: 92%;
    max-width: 480px;
    background-color: transparent;
}

.account-popup header {
    height: 47px;
    border-radius: 5px 5px 0 0;
}

.account-popup header img {
    display: block;
    width: 130px;
    margin: 6px auto;
}

.account-popup .content {
    padding: 26px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    color: #3f3f3f;
}

.account-popup .sub-title {
    font: bold 20px/1.5em 'StagSans-Bold';
    letter-spacing: 0.04em;
    text-align: center;
}

.account-popup .sub-info {
    font: normal 14px/22px 'StagSans-Book';
    letter-spacing: 0.04em;
    text-align: center;
}

.account-popup .alerts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-popup .alerts .message {
    letter-spacing: 0.04em;
}

.signup-popup .prime-form {
    padding-top: 0;
}

.account-popup .field {
/*    font-family: 'StagSans-Medium';*/
    font-size: 14px;
}

.account-popup .forgot-password {
    text-transform: uppercase;
    color: #024b78;
    font-size: 11px;
}

/* End of account popup styles */

/*Section favorite popup style*/

.favorite-popup {
    /*display:block;/!*<== delete at the end*!/*/
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 50;
    max-width:100%;
}

.favorite-popup .popup-main-container {
    margin: 100px auto 0px auto;
    max-width: 440px;
    height: 450px;
    padding: 0px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    position: relative;
    z-index: 50;
    overflow: auto;
    border-radius:6px;
}

.favorite-popup.small .popup-main-container{
    height: 290px;
    border-radius:0px;
}

.favorite-popup.small .popup-main-container .popup-close{
    position:absolute;
    right:10px;
}

.favorite-popup .popup-main-container header {
     height:47px;
     background-color:#2d2d2d;

 }

.favorite-popup .popup-main-container header img {
    height:24px;
    display:block;
    margin:auto;
    margin-top:4px;
}

.favorite-popup .popup-main-container .popup-sub-title{
    font-size: 23px;
    color: rgb(63, 63, 63);
    font-weight: bold;
    text-align: center;
    background: url('../../img/red-heart.png') 21px 5px no-repeat;
    padding-left:50px;
}

.favorite-popup.small .popup-main-container .popup-sub-title{
    text-align: center;
    background: url('../../img/red-heart.png') 100px 5px no-repeat;
    padding-left:0px;
    margin-top:20px;
}

.favorite-popup .popup-main-container .popup-sub-info{
    padding:0px 23px;
    font-size: 15px;
    color: rgb(63, 63, 63);
    text-align: left;
    padding-top:34px;
}

.favorite-popup.small .popup-main-container .popup-sub-info{
    text-align: center;
}

.favorite-popup .popup-main-container .popup-sub-container:first-child .popup-sub-info{
    padding-top:0px;
}

.favorite-popup .popup-main-container .popup-sub-info a{
    text-decoration: underline;
}

.favorite-popup .popup-main-container .popup-buttons{
    width: 300px;
    margin: auto;
    overflow: hidden;
    padding: 15px 0px;
}

.favorite-popup .popup-main-container .popup-buttons a:first-child{
    float:left;
}

.favorite-popup .popup-main-container .popup-buttons a:first-child{
    float:right;
}

.favorite-popup .popup-main-container .popup-sub-container:first-child{
    min-height:225px;
    padding-top:45px;
    padding-bottom:0px;
    border-bottom:1px solid #d9d9d9;
}

.favorite-popup.small .popup-main-container .popup-sub-container:first-child{
    min-height:110px;
    padding-top:20px;
}

.favorite-popup .popup-main-container .popup-sub-container .popup-menu-block{
    height: 85px;
    width: 85px;
    margin: auto;
    font-size: 30px;
    color: #b3b3b3;
    padding:1px;
    border-radius: 85px;
    border:1px solid #c0c0c0;
}

.favorite-popup .popup-main-container .popup-sub-container .popup-menu-sub-block{
    height: 100%;
    width: 100%;
    font-size: 35px;
    color: #b3b3b3;
    background-color: #2d2d2d;
    border-radius: 85px;
    padding-left:23px;
    padding-top:23px;
}

/*End favorite popup style*/


/* Login popup styles */

.login-popup .content {
    padding: 0;
}

.login-popup .sub-container {
    padding: 22px 26px 24px;
    border-bottom: 1px solid #d9d9d9;
}

.login-popup .sub-container:last-child {
    border-bottom: 1px solid transparent;
}

.login-popup .sub-title {
    margin-top: 5px;
}

.login-popup .sub-info {
    margin-bottom: 14px;
}

.login-popup .fogot-password {
    display: inline-block;
    margin-bottom: 20px;
    font: normal 10px/1.1 'StagSans-Medium';
    color: #024b78;
    text-transform: uppercase;
}

.login-popup .fogot-password .gt-arrow {
    display: inline-block;
    font-size: 1.3em;
}

.login-popup .btn {
    display: block;
    margin: 0 auto;
    padding: 13px 0;;
    width: 100%;
    max-width: 145px;
    text-align: center;
}
.login-popup .login {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .login-popup .fogot-password {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .login-popup .btn {
        max-width: 100%;
    }
}
/* End of login popup styles */

/* Welcome popup styles */

.welcome-popup .content {
    padding: 0;
}

.welcome-popup .sub-container {
    padding: 22px 26px 24px;
    border-bottom: 1px solid #d9d9d9;
}

.welcome-popup .sub-container:last-child {
    border-bottom: 1px solid transparent;
    text-align: center;
}

.welcome-popup .sub-title {
    margin-top: 5px;
}
.welcome-popup .sub-info {
    margin-bottom: 14px;
}
.welcome-popup .complete-account {
    /*display: inline-block;*/
    text-align: center;
    font: normal 12px/1.1 'StagSans-Medium';
    letter-spacing: normal;
    color: #024b78;
    text-transform: uppercase;
}
.welcome-popup .complete-account .gt-arrow {
    display: inline-block;
    font-size: 1.3em;
}
.welcome-popup .btn {
    display: block;
    margin: 0 auto;
    padding: 13px 0;;
    width: 100%;
    max-width: 145px;
    text-align: center;
}

.welcome-popup .popup-sub-container:last-child .popup-sub-info {
    font: normal 12px/1.1 'StagSans-Book';
}

@media (max-width: 991px) {
    .welcome-popup .btn {
        max-width: 100%;
    }
}

/* End of welcome popup styles */

/* Forgot password popup styles */
.forgot-password-popup .content {
    padding: 0;
}
.forgot-password-popup .sub-container {
    padding: 26px 26px 6px;
}
.forgot-password-popup .sub-container:last-child {
    border-top: 1px solid #d9d9d9;
    padding: 22px 26px 24px;
    text-align: center;
}
.forgot-password-popup .sub-info {
    font-size: 12px;
}
.forgot-password-popup .sub-info a {
    text-decoration: underline;
}
.forgot-password-popup .error {
    padding-left: 25px;
    position: relative;
}
.forgot-password-popup .alerts .message:before {
    left: 0;
    position: absolute;
}
.forgot-password-popup form {
    text-align: center;
}
.forgot-password-popup .btn {
    max-width: 145px;
    width: 100%;
    padding: 13px 12px;
}
.forgot-password-popup .send {
    margin-bottom: 16px;
    padding: 13px 22px;
}


/* End of Forgot password popup styles */

/* Sign up popup styles */

.signup-popup .form-row {
    margin-bottom: 15px;
}

.signup-popup .col-md-6 {
    padding-right: 6px;
}

.signup-popup .col-md-6 + .col-md-6 {
    padding-left: 6px;
    padding-right: 15px;
}

.signup-popup .custom-checkbox label {
    font-size: 12px;
    letter-spacing: 0.04em;
    font-weight: normal;
}

.signup-popup .terms-row {
    margin-bottom: 37px;
}

.signup-popup .terms-row p {
    font: normal 12px/16px 'StagSans-Book';
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.signup-popup .terms-row p a {
    text-decoration: underline;
}

.signup-popup .btn {
    display: block;
    margin: 0 auto;
}

@media(max-width: 991px) {
    .signup-popup .form-row {
        margin-bottom: 17px;
    }

    .signup-popup .col-sm-12 {
        padding-right: 15px;
        margin-bottom: 17px;
    }

    .signup-popup .col-sm-12 + .col-sm-12 {
        padding-left: 15px;
        margin-bottom: 0;
    }

    .signup-popup .btn {
        width: 100%;
    }
}

/* End of sign up popup styles */
